body{
    background-image: url(images/OF18OA0.jpg);
}


.bottom{
    
    border-top-color: #4aaaa5;
    border-top-style: solid;
    border-top-width:1rem;
    color:#777777;
    text-align: center;
    font-size: 2rem;
    height: 85px;
    
} 

.content{
  background-color: #ffffff; 
  font-size: 1.5rem;
  padding-bottom:20px;
  padding-top:20px;
  margin-top: 20px;

}

.mainbox{
    padding-top: 80px;
    padding-bottom: 30px;
    
}

.space{

    background-color: transparent;
}
.top{
    background-color: #ffffff; 
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 1rem;
    margin-bottom: 15px;
}

.headshot{

    margin-right:5px;
    padding:5px;
    float: left;
}
.nav-link{
    margin:2rem;
    color:#777777;  
    font-size: 2rem;
    -moz-box-align: center;
}
a:visited {
    color:#4aaaa5;
}

#logo{
    font-size:2.5rem;
    padding:0.5rem;
    background-color:#4aaaa5;
    float: left;
    color:#ffffff;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: initial;
    
}

h2{
    color:#4aaaa5;
    font-weight: 600;
    padding-bottom: 1.5rem;
    padding-left:1.5rem;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width:.5rem;
    margin-bottom: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    }  

   
p{
    margin-top: 2rem;
}

form{
    color:#4aaaa5;
    font-family:'Josefin Sans', sans-serif;
    width: 80%;
    padding-left: 10%;
} 
       
 .gallery{
     margin-bottom: 15px;

 }

 .text-block {
    font-family:'Josefin Sans', sans-serif;
    font-size: 1rem;
    position: absolute;
    bottom: 0px;
    min-width: 80%;
    text-align: center;
    background-color: rgba(75, 170, 165, 0.65);
    color:white;
    padding:0.2rem;
  
 }
 h3{
     margin: 0;
     padding: 0;
 }
